<div class="col-md-4 col-md-offset-4 container">
  <div class="well">
  
<%= form_with model: @note, local: true do |form| %>
  <span class="border border-light">
  <p>
    <%= form.label :title,required: true %><br>
    <%= form.text_field :title %>
    <span class="text-danger"><%= @note.errors[:title][0] %></span><br><br>
  </p>
 
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.label :tag %><br>
    <%= form.text_field :tag %>
  </p>

  <p>
    <%= form.label :number_of_books %><br>
    <%= form.text_field :number_of_books %>
    <span class="text-danger"><%= @note.errors[:number_of_books][0] %></span><br><br>
  </p>
 
  <p>
    <%= form.submit :Submit, class: 'btn btn-primary' %>
    <%= link_to 'NoteBook List', notes_path ,class: "btn btn-info"%>
  </p>
</span>
<% end %>

</div>
</div>